@page "/dashboard"

<div class="content">
    <SfDashboardLayout Columns="6" CellSpacing="@(new double[]{10 ,10 })">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Id="Panel1" SizeX="3" SizeY="2">
                <HeaderTemplate><div class='header'>Product Overview</div></HeaderTemplate>
                <ContentTemplate>
                    <div style="height:100%; width:100%;">
                        <SfChart>
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@ProductData" XName="Category" YName="Count" Type="ChartSeriesType.Column">
                                </ChartSeries>
                            </ChartSeriesCollection>
                        </SfChart>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Id="Panel2" SizeX="3" SizeY="2" Column="3">
                <HeaderTemplate><div class='header'>Sales Trend</div></HeaderTemplate>
                <ContentTemplate>
                    <div style="height:100%; width:100%;">
                        <SfChart>
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime"></ChartPrimaryXAxis>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@SalesData" XName="Date" YName="Amount" Type="ChartSeriesType.Line">
                                    <ChartMarker Visible="true"></ChartMarker>
                                </ChartSeries>
                            </ChartSeriesCollection>
                        </SfChart>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Id="Panel3" SizeX="3" SizeY="2" Row="2">
                <HeaderTemplate><div class='header'>Stock Status</div></HeaderTemplate>
                <ContentTemplate>
                    <div style="height:100%; width:100%;">
                        <SfChart>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@StockData" XName="Product" YName="Quantity" Type="ChartSeriesType.Bar">
                                </ChartSeries>
                            </ChartSeriesCollection>
                        </SfChart>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Id="Panel4" SizeX="3" SizeY="2" Row="2" Column="3">
                <HeaderTemplate><div class='header'>Category Distribution</div></HeaderTemplate>
                <ContentTemplate>
                    <div style="height:100%; width:100%;">
                        <SfAccumulationChart>
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource="@ProductData" XName="Category" YName="Count" Type="AccumulationType.Pie">
                                    <AccumulationDataLabelSettings Visible="true"></AccumulationDataLabelSettings>
                                </AccumulationChartSeries>
                            </AccumulationChartSeriesCollection>
                        </SfAccumulationChart>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Id="Panel5" SizeX="6" SizeY="2" Row="4">
                <HeaderTemplate><div class='header'>Recent Transactions</div></HeaderTemplate>
                <ContentTemplate>
                    <div style="height:100%; width:100%;">
                        <SfGrid DataSource="@Transactions" AllowPaging="true">
                            <GridPageSettings PageSize="5"></GridPageSettings>
                            <GridColumns>
                                <GridColumn Field="@nameof(Transaction.Id)" HeaderText="ID" Width="80"></GridColumn>
                                <GridColumn Field="@nameof(Transaction.Product)" HeaderText="Product" Width="150"></GridColumn>
                                <GridColumn Field="@nameof(Transaction.Type)" HeaderText="Type" Width="100"></GridColumn>
                                <GridColumn Field="@nameof(Transaction.Quantity)" HeaderText="Quantity" Width="100"></GridColumn>
                                <GridColumn Field="@nameof(Transaction.Date)" HeaderText="Date" Format="d" Width="120"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code {
    public class ChartData
    {
        public string? Category { get; set; }
        public int Count { get; set; }
        public DateTime Date { get; set; }
        public double Amount { get; set; }
        public string? Product { get; set; }
        public int Quantity { get; set; }
    }

    public class Transaction
    {
        public int Id { get; set; }
        public string? Product { get; set; }
        public string? Type { get; set; }
        public int Quantity { get; set; }
        public DateTime Date { get; set; }
    }

    private List<ChartData> ProductData = new()
    {
        new ChartData { Category = "Beverages", Count = 45 },
        new ChartData { Category = "Food", Count = 32 },
        new ChartData { Category = "Stationery", Count = 28 },
        new ChartData { Category = "Grocery", Count = 51 }
    };

    private List<ChartData> SalesData = new()
    {
        new ChartData { Date = new DateTime(2024, 1, 1), Amount = 21000 },
        new ChartData { Date = new DateTime(2024, 2, 1), Amount = 24000 },
        new ChartData { Date = new DateTime(2024, 3, 1), Amount = 36000 },
        new ChartData { Date = new DateTime(2024, 4, 1), Amount = 38000 }
    };

    private List<ChartData> StockData = new()
    {
        new ChartData { Product = "Coca Cola", Quantity = 150 },
        new ChartData { Product = "Notebook", Quantity = 200 },
        new ChartData { Product = "Biscuit", Quantity = 120 },
        new ChartData { Product = "Rice", Quantity = 300 }
    };

    private List<Transaction> Transactions = new()
    {
        new Transaction { Id = 1, Product = "Coca Cola", Type = "In", Quantity = 50, Date = DateTime.Now.AddDays(-1) },
        new Transaction { Id = 2, Product = "Notebook", Type = "Out", Quantity = 20, Date = DateTime.Now.AddDays(-2) },
        new Transaction { Id = 3, Product = "Biscuit", Type = "In", Quantity = 100, Date = DateTime.Now.AddDays(-3) },
        new Transaction { Id = 4, Product = "Rice", Type = "Out", Quantity = 30, Date = DateTime.Now.AddDays(-4) },
        new Transaction { Id = 5, Product = "Coca Cola", Type = "Out", Quantity = 15, Date = DateTime.Now.AddDays(-5) },
        new Transaction { Id = 6, Product = "Notebook", Type = "In", Quantity = 80, Date = DateTime.Now.AddDays(-6) }
    };
}

<style>
    .header {
        background-color: rgba(0, 0, 0, .1);
        text-align: center;
        padding: 10px;
        font-weight: 600;
    }

    .e-panel-content {
        padding: 10px;
    }
</style>
